{% extends "setlist_tracker_app/base.html" %}

{% block content %}
<p>{{song}}</p>

<ul>
  {% for link in links %}
  <li>
    <p>{{link}}</p>
  </li>
  <p>
    <a href="{{link.url}}" target="_blank">open</a>&ensp;---&ensp;
    <a href="{% url 'setlist_tracker_app:edit_link' link.id %}">edit</a>&ensp;---&ensp;
    <a href="{% url 'setlist_tracker_app:delete_link' song_id=song.id link_id=link.id %}">delete</a>
  </p>
  {% empty %}
  <li>No links added yet.</li>
  {% endfor %}
  <li>
    <a href="{% url 'setlist_tracker_app:new_link' song.id %}">Add a new link</a>
  </li>
</ul>

<a href="{% url 'setlist_tracker_app:delete_song' song.id %}">Delete this song</a>

{% endblock content %}